* {
    margin: 0;
    padding: 0;
}


.main{
    background-image: url("backgrounds/background (6).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-weight: 400;
}

.main a{
    text-decoration: none;
}

.main .Game_Over h1{
    position: relative;
    top: 275px;
    text-align: center;
    font-size: 48px;
    color: white;   
    padding: 0px 30px 0px;
}

.main .chapter a{
    position: relative;
    top: 300px;
    text-align: center;
    font-size: 32px;
    color: white;   
    padding: 7px 10px 0px 10px;
    text-decoration: none;
    display: block;
    border-radius: 0px;
}

.main .back a{
    position: relative;
    top: 350px;
    text-align: center;
    font-size: 36px;
    color: white;   
    padding: 7px 0px 0px;
    text-decoration: none;
    display: block;
}

@media only screen and (min-width:768px) {

    .main .Game_Over h1{
        top: 400px;
        font-size: 64px;
    }
    
    .main .chapter a{
        top: 420px;
        font-size: 36px;
    }
    
    .main .back a{
        top: 470px;
        font-size: 36px;
    }
}

@media only screen and (min-width:1000px) {

    .main .Game_Over h1{
        font-size: 82px;
    }
    
    .main .chapter a{
        font-size: 36px;
    }
    
    .main .back a{
        font-size: 36px;
        margin: 0;
    }
}