* {
    margin: 0;
    padding: 0;
}

.main{
    background-image: url("backgrounds/background 5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-weight: 400;
}

.main h1{  
    position: relative;
    top: 275px;
    text-align: center;
    font-size: 36px;
    color: white;
    
}

.main a{
    text-decoration: none;
}

.main p{
    position: relative;
    top: 290px;
    text-align: center;
    font-size: 48px;
    color: white;
    padding: 0px 30px 0px;
}

.main .small h6{
    padding: 0px 30px 0px;
    position: relative;
    top: 290px;
    text-align: center;
    font-size: 22px;
    color: white;
}

@media only screen and (min-width:768px){
    
    .main h1{  
        top: 400px;
        font-size: 58px;
    }

    .main p{
        top: 425px;
        font-size: 85px;
    }
    
    .main .small h6{
        top: 420px;
        font-size: 52px;
    }
    
}

@media only screen and (min-width:1000px) {
    
    .main h1{
        top: 250px;
        font-size: 64px;
    }

    .main p{
        top: 275px;
        font-size: 105px;    
    }
    
    .main .small h6{
        top: 300px;
        font-size: 60px;
    }
}