* {
    margin: 0;
    padding: 0;
}


.main{
    background-image: url("backgrounds/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.main a{
    text-decoration: none;
}

.main p{
    position: relative;
    top: 110px;
    text-align: center;
    font-size: 21px;
    color: white;
    padding: 0px 20px 0px;
}

.main .part_2 p{
    position: relative;
    top: 115px;
    text-align: center;
    font-size: 21px;
    color: white;
}

.main .continue p{
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: 700;
}

@media only screen and (min-width:768px){
    
    .main p{
        top: 100px;
        font-size: 32px;
    }

    .main .part_2 p{
        top: 105px;
        font-size: 32px;
    }

    .main .continue p{
        top: 150px;
        font-size: 36px;
    }
}

@media only screen and (min-width:1000px) {

    .main p{
        top: 50px;
        font-size: 32px;
        padding: 0px 200px 0px;
    }

    .main .part_2 p{
        top: 50px;
        font-size: 32px;
    }

    .main .continue p{
        top: 75px;
        font-size: 48px;
    }
}