* {
    margin: 0;
    padding: 0;
}


.main{
    background-image: url("backgrounds/background (6).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-weight: 400;
}

.main a{
    text-decoration: none;
}

.main p{
    position: relative;
    top: 200px;
    text-align: center;
    font-size: 21px;
    color: white;   
    padding: 0px 30px 0px;
}

.main .continue p{
    position: relative;
    top: 300px;
    text-align: center;
    font-size: 36px;
    color: white;   
    padding: 0px 30px 0px;
    text-decoration: none;
    font-weight: 700;
}

@media only screen and (min-width:768px) {
    
    .main p{
        top: 350px;
        font-size: 32px;
    }
    
    .main .continue p{
        top: 375px;
        font-size: 36px;
        float: right;
    }
}

@media only screen and (min-width:1000px) {
    
    .main p{
        top: 200px;
        font-size: 36px;
        padding: 0px 50px;
    }
    
    .main .continue p{
        top: 250px;
        font-size: 38px;
    }
}