* {
    margin: 0;
    padding: 0;
}


.main{
    background-image: url("backgrounds/background (3).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-weight: 400;
}

.main h1{  
    position: relative;
    text-align: center;
    top: 5px;
    font-size: 32px;
    color: white;
    
}

.main a{
    text-decoration: none;
}

.main p{
    position: relative;
    top: 5px;
    text-align: center;
    font-size: 16px;
    color: white;   
    padding: 0px 30px 0px;
}

.main .image img{   
    top: 15px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 32%;
    height: auto;
}

.main .continue p{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 36px;
    color: white;   
    padding: 0px 30px 0px;
    text-decoration: none;
    font-weight: 700;
}

@media only screen and (min-width:768px){
    
    .main h1{  
        top: 5px;
        font-size: 32px;
    }
    
    .main p{
        top: 5px;
        font-size: 24px;
    }
    
    .main .image img{ 
        top: 15px;  
        max-width: 30%;
    }
    
    .main .continue p{
        top: 50px;
        font-size: 36px;
    }
}

@media only screen and (min-width:1000px) {

    .main h1{  
        top: 5px;
        font-size: 62px;
    }
    
    .main p{
        position: absolute;
        top: 300px;
        right: 250px;
        float: right;
        font-size: 36px;
        padding: 10px 10px 10px 10px;
    }
    
    .main .image img{  
        position: absolute;
        top: 50px;
        left: 100px;
        float: left;
        width: 17%;
    }
    
    .main .continue p{
        position: absolute;
        top: 850px;
        font-size: 36px;
        float: right;
        right: 0px;
    }
}

